<ion-content class="fondo">
  <div #title class="fondo1">

    <center>
      <h1 class="ion-text-center ion-margin-vertical ion-padding-top" style="margin: 32px 0; padding-top: 32px">Tu zona de comida</h1>
      <img src="../../../assets/icon/logo.png" style="width: 25%">
      <ion-item class="barras">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user" required></ion-input>
      </ion-item>

      <ion-item class="barras">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <div *ngIf="load">
        <mat-progress-spinner [color]="color" [mode]="mode" [value]="value" [diameter]="50">
        </mat-progress-spinner>
      </div>
    </center>

    <ion-grid class="ion-padding-bottom" style="padding-bottom: 64px">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="full" shape="round" (click)="sendUser()" class="ion-margin-vertical boton"
            style="margin-top: 32px ; border-radius: 128px !important">Iniciar Sesion</ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <p>Aun no te has registrado?</p>
          <ion-row>
            <ion-col><p  [routerLink]="['/inscripcion']"> Registrarse </p></ion-col>
            <ion-col><p  [routerLink]="['/recuperar-contrasena']">Olvidaste tu contraseña?</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-button class="boton1" href="" [routerLink]="['/inscripcion']"> <ion-icon name="person-add-outline"></ion-icon>  </ion-button> <br></ion-col>
            <ion-col><ion-button class="boton1" href="" [routerLink]="['/recuperar-contrasena']"> <ion-icon name="help-circle-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
          
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>