<ion-content>
  <center>
    <div class="fondo1" style="border-radius: 15px; margin-top: 30px;">

      <h1 class="ion-text-center ion-margin-vertical ion-padding-top" style="margin: 32px 0; padding-top: 32px">Registro</h1>

      <form style="margin-top: 50px;">
        <ion-item class="barras">
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Apellidos:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Fecha de Nacimiento:</ion-label>
          <ion-datetime displayFormat="DD / MMMM / YYYY"></ion-datetime>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Nacionalidad:</ion-label>
          <ion-select>
            <ion-select-option value="1">Chileno/a</ion-select-option>
            <ion-select-option value="2">Argentino/a</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Género:</ion-label>
          <ion-select>
            <ion-select-option value="1">Masculino</ion-select-option>
            <ion-select-option value="2">Femenino</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Correo:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button class="boton" [routerLink]="['/login']" type="submit">Registrar</ion-button>
      </form>

    </div>
  </center>
</ion-content>