ion-content{
    --background: url(../../../assets/icon/fondo2.jpg) no-repeat center/cover fixed;
}

.barras{
    background:lemonchiffon ;
}

ion-button{
    --background:#81C784;
}

ion-toolbar{
    --background:#FFC107;
}

ion-item{
    --border-radius:30px !important;
    margin-bottom:5px !important;
    width:95%;
    --background:#D5DBDB;
    color:black;
  }