ion-content{
    --background: url(../../../assets/icon/fondo.jpg) no-repeat center/cover fixed;
}

.barras{
   color:rgb(255, 255, 255);
    --background:rgba(0, 0, 0, 0) !important;

  }
  

ion-button{
    --background:rgba(255, 255, 255, 0.712);
    color: black;
    margin-top: 30px;
    margin-bottom:30px;
    width:84%;
}

.fondo1{
    background-color: rgba(0, 0, 0, 0.904);
    --border-radius:30px !important;
    margin-bottom:10px !important;
    width:84%;  
}

