ion-content.fondo{
    --background: url(../../../assets/icon/fondo.jpg) no-repeat center/cover fixed;
}

ion-toolbar{
    --background:#745e09 !important;
  }

.imagen{
    width:90%;
    --border-radius: 12px;
    text-align:center;
    margin:10px
}

.fondo1{
    background-color: rgba(0, 0, 0, 0.486) !important;
  }
  
  .fondo2{
    background-color:  rgba(37, 37, 34, 0.911) !important;
  } 
