<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center">Cocina</ion-title>

    <ion-buttons slot="end">
      <ion-button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/reg-recetas']">
          <img src="assets/icon/comida1.jpg" >

          <ion-card-content>
            <ion-card-subtitle>Tacos</ion-card-subtitle>
          </ion-card-content>

        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets/icon/comida1.jpg" >

          <ion-card-content>
            <ion-card-subtitle>Tacos</ion-card-subtitle>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/icon/comida1.jpg">
          <ion-card-content>
            <ion-card-subtitle>Tacos</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets/icon/comida1.jpg">
          <ion-card-content>
            <ion-card-subtitle>Tacos</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="color">
    <center>
      <div style="margin-bottom: 15px; margin-top: 15px;">
        <ion-col>
          <ion-button class="boton">De</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="boton">En</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="boton">
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="boton">
            <ion-icon name="ice-cream-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </div>
    </center> 
  </ion-toolbar>
</ion-footer>






<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>