<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center">Novedades</ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  <div class="fondo1">
    <ion-item-divider class="fondo2">
      
        <ion-grid>
          <ion-row>
            <ion-col size="5" >
              Bienvenido: 
            </ion-col>
            <ion-col size="5" >
              <ion-text color="primary">
                {{user}}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      
    </ion-item-divider>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="1">
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            <ion-icon name="nutrition-outline"></ion-icon>
          </mat-icon>
        </ng-template>


        <mat-card class="example-card" style="margin-bottom: 10px;">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton" > <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
          <mat-card-title style="margin-bottom: 20px;">Panqueques con manjar</mat-card-title>
          
            <img mat-card-image src="../../assets/icon/panqueques.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Sorprende a todos con unos Panqueques con Manjar bajos en calorías. Prepararlos es muy fácil y en solo 30 minutos
      podrás disfrutarlos junto a 12 personas.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="sendUser()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton"> <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
            <mat-card-title style="margin-bottom: 20px;">Tacos</mat-card-title>
            <img mat-card-image src="../../assets/icon/Tacos.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus commodi ratione eos mollitia neque
                alias et iusto molestiae, fugiat non voluptatem quod amet quibusdam, saepe placeat. Necessitatibus
                ratione accusamus deserunt?
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>

      </mat-tab>

      <mat-tab label="">
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            <ion-icon name="leaf-outline"></ion-icon>
          </mat-icon>
        </ng-template>
        <mat-card class="example-card" style="margin-bottom: 10px;">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton" > <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
          <mat-card-title style="margin-bottom: 20px;">Panqueques con manjar</mat-card-title>
          
            <img mat-card-image src="../../assets/icon/panqueques.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Sorprende a todos con unos Panqueques con Manjar bajos en calorías. Prepararlos es muy fácil y en solo 30 minutos
      podrás disfrutarlos junto a 12 personas.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="sendUser()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton"> <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
            <mat-card-title style="margin-bottom: 20px;">Tacos</mat-card-title>
            <img mat-card-image src="../../assets/icon/Tacos.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus commodi ratione eos mollitia neque
                alias et iusto molestiae, fugiat non voluptatem quod amet quibusdam, saepe placeat. Necessitatibus
                ratione accusamus deserunt?
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>
      </mat-tab>


      <mat-tab label="">
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            <ion-icon name="fast-food-outline"></ion-icon>
          </mat-icon>
        </ng-template>
        <mat-card class="example-card" style="margin-bottom: 10px;">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton" > <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
          <mat-card-title style="margin-bottom: 20px;">Panqueques con manjar</mat-card-title>
          
            <img mat-card-image src="../../assets/icon/panqueques.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Sorprende a todos con unos Panqueques con Manjar bajos en calorías. Prepararlos es muy fácil y en solo 30 minutos
      podrás disfrutarlos junto a 12 personas.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="sendUser()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton"> <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
            <mat-card-title style="margin-bottom: 20px;">Tacos</mat-card-title>
            <img mat-card-image src="../../assets/icon/Tacos.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus commodi ratione eos mollitia neque
                alias et iusto molestiae, fugiat non voluptatem quod amet quibusdam, saepe placeat. Necessitatibus
                ratione accusamus deserunt?
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>
      </mat-tab>

      <mat-tab label="">
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            <ion-icon name="ice-cream-outline"></ion-icon>
          </mat-icon>
        </ng-template>
        <mat-card class="example-card" style="margin-bottom: 10px;">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton" > <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
          <mat-card-title style="margin-bottom: 20px;">Panqueques con manjar</mat-card-title>
          
            <img mat-card-image src="../../assets/icon/panqueques.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Sorprende a todos con unos Panqueques con Manjar bajos en calorías. Prepararlos es muy fácil y en solo 30 minutos
      podrás disfrutarlos junto a 12 personas.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="sendUser()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title style="margin-right: 30px;">Jorge Saez</mat-card-title>
            <ion-button class="boton"> <ion-icon name="heart"></ion-icon> </ion-button>
            <mat-card-subtitle>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
            </mat-card-subtitle>
          </mat-card-header>
          <center>
            <mat-card-title style="margin-bottom: 20px;">Tacos</mat-card-title>
            <img mat-card-image src="../../assets/icon/Tacos.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus commodi ratione eos mollitia neque
                alias et iusto molestiae, fugiat non voluptatem quod amet quibusdam, saepe placeat. Necessitatibus
                ratione accusamus deserunt?
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                <ion-icon name="arrow-forward-outline"></ion-icon>
                Ver Mas...
              </button>
            </mat-card-actions>
          </center>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

  </div>

</ion-content>