<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>

    <ion-title style="text-align: center">Cocina</ion-title>
    
    <ion-buttons slot="end">
      <ion-button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item style="--background:LemonChiffon;">
    <ion-button color="success">De</ion-button>
    <ion-button color="success">En</ion-button>
    <ion-button color="success">PF</ion-button>
    <ion-button color="success">Po</ion-button>
  </ion-item>

  <ion-row>
    <ion-col>
    <ion-card>
      <img src="assets/icon/comida1.jpg" width="150px">
    <ion-card-content>
      <p>Tacos</p>
    </ion-card-content>
  </ion-card>
  </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/icon/comida1.jpg" width="150px">
        <ion-card-content>
          <ion-card-subtitle>Tacos</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
    <ion-card>
      <img src="assets/icon/comida1.jpg" width="150px">
    <ion-card-content>
      <p>Tacos</p>
    </ion-card-content>
  </ion-card>
  </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/icon/comida1.jpg" width="150px">
        <ion-card-content>
          <ion-card-subtitle>Tacos</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
