ion-toolbar{
  --background:#745e09 !important;
}

ion-content.fondo{
  --background: url(../../assets/icon/fondo.jpg) no-repeat center/cover fixed;
}

.fondo1{
  background-color: rgba(0, 0, 0, 0.514);
}

.fondo2{
  background-color:  rgba(37, 37, 34, 0.911);
}

.avatar {
  background-image: url('../../assets/icon/Jorge.png');
  background-size: cover;
}

.boton{
  --background:#ffffff00;
}

.tipo{
  --background:green;
}

