<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center">Cocina</ion-title>

    <ion-buttons slot="end">
      <ion-button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 style="text-align:center; color:black;">Platos de Fondo</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card [routerLink]="['']">
          <img src="assets/icon/Tacos.jpg">

          <ion-card-content>
            <ion-card-subtitle>Tacos</ion-card-subtitle>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="color">
    <center>
      <div style="margin-bottom: 15px; margin-top: 15px;">
        <ion-row>
          <ion-col size="3">
            <ion-button class="boton" [routerLink]="['/desayuno']">
              <ion-icon name="nutrition-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="boton" [routerLink]="['/ensalada']">
              <ion-icon name="leaf-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="boton" [routerLink]="['/plato']">
              <ion-icon name="fast-food-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="boton" [routerLink]="['/postre']">
              <ion-icon name="ice-cream-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </center>
  </ion-toolbar>
</ion-footer>