ion-content{
    --ion-background-color: white;
}
  
.color{
    --background:LemonChiffon;
}
  
.boton{
    --background:#81C784;
}
  
ion-toolbar{
    --background:#FFC107;
}
  
ion-card-content{
    background:lemonchiffon;
    
}

ion-card-subtitle{
    color:black;
    height:15px;
}