ion-toolbar{
    --background:#FFC107;
}

ion-content{
    --ion-background-color: white;
}

.color{
    --background:LemonChiffon;
}

.boton{
    --background:#81C784;
}

.imagen{
    margin-top:10px;
    margin-bottom:8px;
    width:95%;
    border:5px solid;
    border-color: brown;
}

.difi{
    width:95%;
    border:3px solid;
    border-color: brown;
    margin-bottom:10px;
    color:black;
    background-color:LemonChiffon;
}

ion-item{
    border:3px solid;
    border-color: brown;
    margin-bottom: 8px;
    --background:LemonChiffon;
    color:black;
}