<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center">(receta)</ion-title>

    <ion-buttons slot="end">
      <ion-button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <center>
    <div class="imagen">
      <img src="assets/icon/comida1.jpg" alt="">
    </div>
    
    <div class="difi">
      Tipo/Dificultad
    </div>

    <ion-item style="width:70%;">
      <p>Ingredientes</p>
    </ion-item>

    <ion-item style="width:90%;">
      <p>Preparación</p>
    </ion-item>

    <ion-item style="width:90%;">
      <p>Danos tu Opinión</p>
    </ion-item>
  </center>

</ion-content>

<ion-footer>
  <ion-toolbar class="color">
    <center>
      <div style="margin-bottom: 15px; margin-top: 15px;">
        <ion-col>
          <ion-button class="boton">De</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="boton">En</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="boton">
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="boton">
            <ion-icon name="ice-cream-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </div>
    </center>
  </ion-toolbar>
</ion-footer>